*
{
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    overflow: y;
    font-family: 'Dosis', sans-serif;
}

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
    align-items: center;
    border-bottom: solid 1px #000000;
    padding: 1em;
}
.logo
{
    color: rgb(10, 42, 136);
    height: 40px;
    width: 40px;
    background: transparent;
    border: 2px solid rgb(10, 42, 136);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
}
.logo:hover
{
    background: rgb(10, 42, 136);
    color: #ffffff;
    transition: 0.5s;
}

ul a
{
    font-size: 15px;
    margin-left: 20px;
    color: rgb(10, 42, 136);
    text-transform: uppercase;
}
ul a:hover
{
    color: #023fce;
    transition: 0.5s;
}
.botao-header
{
    margin-left: 20px;
    text-transform: uppercase;
    padding: 5px 15px;
    background: transparent;
    border: 1px solid rgb(10, 42, 136);
    border-radius: 50px;
    font-size: 13px;
    color: rgb(10, 42, 136);
}
.botao-header:hover
{
    background: rgb(10, 42, 136);
    color: #ffffff;
    transition: 0.5s;
}
.secao-1
{
    padding-bottom: 2rem;
}
.conteudo-secao-1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.conteudo-secao-1 p
{
    padding: 2rem;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}
.botao-secao1
{
    font-size: 15px;
    background: rgb(10, 42, 136);
    color: #ffffff;
    padding: 10px 50px;
    border:none;
    border: 1px solid rgb(10, 42, 136);
    border-radius: 30px;
}
.botao-secao1:hover
{
    font-size: 15px;
    color: rgb(10, 42, 136);
    background: transparent;
    border: 1px solid rgb(10, 42, 136);
    transition: 0.2s;
    padding: 10px 50px;
}
.imagem-de-progamador
{
    width: 55%;
}

.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: block;
    background-image: url(ONDAS.png);
    width: 100%;
}
.container .produtos
{
    font-size: 100px;
    padding: 200px 50px 220px 0;
    margin-top: 5rem;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.container .produtos p
{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}
.botao-secao2
{
    margin: 29px;
    text-transform: uppercase;
    padding: 10px 15px;
    background: rgb(10, 42, 136);
    border: 1px solid rgb(10, 42, 136);
    border-radius: 50px;
    font-size: 13px;
    color: rgb(255, 255, 255);
}
.botao-secao2:hover
{
    background: rgb(255, 255, 255);
    color: rgb(10, 42, 136);
    transition: 0.5s;
}
.secao-3
{
    width: 100%;
    background: #ffffff;
    border-bottom: 1px solid #000000;
}
.conatainer2
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: block;
    width: 100%;
    padding: 60px 20px 60px 20px;
}
.conatainer2 .perfils
{
    
    margin-top: 5rem;
    color: #000000;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}
.imagens-perfis
{
    width: 20%;
}

.conatainer2 .perfils p
{
    padding-left: 30px;
    font-size: 25px;
}
.conatainer2 .perfils p strong
{
    color: #023fce;
}
.conteudo-secao4 
{
    display: flex;
    flex-direction: row;
    font-size: 50px;
    padding: 90px;
}
.conteudo-secao4  h1
{
    padding-right: 60px;
    padding-left: 100px;
}
.conteudo-secao4 button
{
    padding: 10px 40px;
    border-radius: 50px;
    background-color: #023fce;
    text-decoration: none;
    border: none;
    color: #ffffff;
    border: 1px solid #023fce;
}
.conteudo-secao4 button:hover
{
    background: transparent;
    border: 1px solid #023fce;
    color: #023fce;
    transition: 0.4s;
    font: bolder;
}
footer
{
    padding: 190px;
    background-image: url(ONDAS.png);
    padding: 131px 60px 40px;
}
.logo-footer
{
    color: rgb(255, 255, 255);
    height: 40px;
    width: 40px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
    padding: 40px;
}
footer p
{
    font-size: 20px;
    margin-top: 30px;
    color: #8a8787;
}
.footer-homes
{
    display: flex;
    justify-content:end ;
}
.botao-footer
{
    margin-left: 20px;
    text-transform: uppercase;
    padding: 5px 15px;
    background: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    font-size: 13px;
    color: rgb(255, 255, 255);
}
.botao-footer:hover
{
    background: rgb(255, 255, 255);
    color: #023fce;
    transition: 0.5s;
}
.footer-homes ul a
{
    font-size: 15px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    align-items: center;
}
.footer-homes ul a:hover
{
    color: #000000;
    transition: 0.5s;
    border-bottom: #ffffff 6px solid;
}